
body {
    margin: 0;
    
}

header{
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'MS Ｐゴシック','MS PGothic'; 
    text-align: center;
    color: #D2B48Cff;
    margin: 2%;
}

header h1{
font-size: 60px;
margin-bottom: 0;
}

header h2{
font-size: 30px;
margin-top: 0;
}

.fuwafuwa {
  animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
  background: url(../img/ico-apple.svg) no-repeat center center / 60px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 30%;
  height: 30%;
  margin-top: 15px;
}
 
@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}
  
/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:30px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(150px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 100px;
	height: 100px;
	color: #333;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
    /*背景画像の指定*/
	background: url("https://1.bp.blogspot.com/-8_iInJA-VGo/UgSMUzbH8tI/AAAAAAAAXBk/rfI8OGB16n8/s800/sweets_cookie.png") no-repeat center;
	background-size: contain;
}

#page-top.floatAnime a{
	width: 100px;
	height: 130px;
    /*背景画像の指定*/
	background: url("https://1.bp.blogspot.com/-8_iInJA-VGo/UgSMUzbH8tI/AAAAAAAAXBk/rfI8OGB16n8/s800/sweets_cookie.png") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 2s linear infinite;
	opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
    position: absolute;
    bottom: -20px;
    right: 20px;
	color: #666;
}
/*検証のためのCSS*/
section{
padding: 500px 0;
}
  
/*==================================================
スライダーのためのcss
===================================*/



/*大きい画像の設定*/
main img {
  padding: 0;
  margin:auto;
  width: 60%;/*画像の大きさを変える*/
	vertical-align: bottom;/*画像の下にできる余白を削除*/
}


/*メイン画像下に余白をつける*/
.gallery{
	margin:0 0 5px 0;
}

.gallery li{
list-style:none;
}

/*選択するサムネイル画像の設定*/

.choice-btn li{
  padding: auto;
	cursor: pointer;
	outline: none;
list-style:none;
margin: 0;
display:inline;
}

.choice-btn li img{
  padding: auto;
	opacity: 0.4;/*選択されていないものは透過40%*/
  margin: 0;
  display:inline;
  width: 100%;
}

.choice-btn li.slick-current img{
  padding: auto;
	opacity: 1;/*選択されているものは透過しない*/
  margin: 0;
  display:inline;
  width: 100%;
}

.size { /*小さいほうの画像要素*/
 padding-top: 2%;
  width: 90%;
  height: 50%;
  margin: auto;
}



@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
main h3{
    color:#CC6666;
    text-align: center;
    font-family:  'Caveat', cursive;;
    font-size: 50px;
}

.desert {
    list-style:none;
    margin:5%;
}

ul{
    display:block;
    text-align: center;
}
li {
    display: inline;
}



    
    .buydesert {
        font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'MS Ｐゴシック','MS PGothic'; 
        text-align: center;
        font-size: 40px;
        color: #D2B48Cff;
        
    }

    .buydesert img {
       animation: poyopoyo 2s ease-out infinite;
       opacity: 1;
}

@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}
    
    
    .btn {
        color: #D2B48Cff;
        margin-top: 2% ;
        margin-bottom: 5%;
        font-size: 50px;
    }


    .fa-twitter {
      font-size: 50px;
        margin-right: 1%;
        color: #1D9BF0;
      
    }

    .fa-instagram {
      font-size: 50px;
        margin-left: 10%;
        margin-right: 1%;
        color: #E11AB4;
       
    }



  footer img {
    width: 30%;
  }

  h6{
    text-align: center;
    background-image: url(https://pbs.twimg.com/media/Fa4_HrPUcAAP6Nf?format=png&name=900x900);
    background-position:bottom;
    padding-top: 21%;
    background-size: cover;
    font-size: 15px;
    margin-bottom: 0;
  }

  /* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  
    
  header h1{
     font-size: 40px;
 }

 header h2{
     font-size: 20px;
     }

     .fuwafuwa {
      width: 50%;
      height: 50%;
      
    }

 main h3{
     font-size: 25px;
 }

 .buydesert h4,p{
     font-size: 28px;
 }

 .btn {
   font-size: 30px;
}


.fa-twitter {
 font-size: 30px;
}

.fa-instagram {
 font-size: 30px;
}


 footer h6 {
     font-size: 10px;
   }
 
 }
 
 
 
 /* スマホ向けレイアウト */
 @media all and (max-width: 670px) {

 
    header h1{
     font-size: 30px;
     }

     header h2{
         font-size: 15px;
         }

         .fuwafuwa {
          width: 50%;
          height: 50%;
          
        }

     main h3{
         font-size: 20px;
     }

     .buydesert h4,p{
         font-size: 18px;
     }

     .btn {
       font-size: 17px;
   }
 
 
   .fa-twitter {
     font-size: 17px;
   }
 
   .fa-instagram {
     font-size: 70%;
   }
 
   footer h6 {
    font-size: 6px;
  }


 }
